<div class="container">
  <div class="sidebar">
    <ul>
      <li>{{link-to 'Home' 'index'}}</li>
      <li>{{link-to 'Games' 'games'}}</li>
    </ul>
  </div>
  <main>
    <div class="main-header">
      {{app-breadcrumbs}}
    </div>
    <div class="body-wrapper">
      {{outlet}}
    </div>
  </main>
</div>