<div class="card padding">
  <h2>Create a new game</h2>
  <form {{action 'createGame' game on="submit"}}>
    <div class="form-item">
      <label>Emoji Phrase</label>
      {{input type="text" value=game.emojiPhrase placeholder="Enter some emoji! ex: :tent: :heart:" }}
    </div>

    <div class="actions">
      <button disabled={{isCreatingGame}} type="submit">{{if isCreatingGame 'Creating...' 'Create Game'}}</button>
    </div>
  </form>
</div>